<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pritam.roamctg">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/roamlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebActivity" />
        <activity android:name=".TransportActivity" />
        <activity android:name=".SeeActivity" />
        <activity android:name=".RouteOneActivity" />
        <activity android:name=".RouteTwoActivity" />
        <activity android:name=".RouteThreeActivity" />
        <activity android:name=".RouteFourActivity" />
        <activity android:name=".RouteSixActivity" />
        <activity android:name=".RouteSevenActivity" />
        <activity android:name=".RouteEightActivity" />
        <activity android:name=".RouteTenActivity" />
        <activity android:name=".RouteElevenActivity" />
        <activity android:name=".RouteTweleveActivity" />
        <activity android:name=".RouteFourteenActivity"></activity>
    </application>

</manifest>